:root {
    --primary-text-color: #2E2F42;
    --title-text-colour: #434455;
    --background-color-w: #FFFFFF;
    --logo-color: #4D5AE5;
    --button-color: #F4F4FD;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-colour);
    background-color: var(--background-color-w);
}
li {
    list-style-type: none;
}
.link{
        text-decoration: none;
        list-style-type: none;
}
.logostyle {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}
.logostyle > span {
    color: var(--primary-text-color);
}
.logostyle .span-footer {
    color: #F4F4FD;
}
.list {
        list-style: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.link a:hover,
.link a:focus {
    color: #404BBF;
    text-decoration: underline #404BBF;
}
.address {
    font-style: normal;
    list-style: none;
}
.address .link {
        font-style: normal;
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
.filter .btn-filter {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        background: #F4F4FD;
            border: 1px solid #E7E9FC;
            border-radius: 4px;
            font-family: "Roboto", sans-serif;
}
.filter .btn-filter:hover,
.filter .btn-filter:focus{
    background: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: #FFFFFF;
        cursor: pointer;
}
.example-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.example-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
.footer{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
        background: var(--primary-text-color);
}
.section-one-index{
    background: var(--primary-text-color);
    color: #FFFFFF;
}
.section-one-index .main-title{
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
}
.main-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        background: #4D5AE5;
        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
}
.main-button:hover,
.main-button:focus{
background-color: #404BBF;
}
.about-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.about-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
.whatdoing {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
}
.whatdoing img{
    border: 1px solid #E7E9FC;
}
.team{
    background-color: #F4F4FD;
}
.team-title{
    font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--primary-text-color);
}
.team img{
    mix-blend-mode: normal;
}
.team-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--title-text-colour);
}
header{
    border-bottom: 1px solid #E7E9FC;
}
.team-card {
    background-color: #FFFFFF;
}
.section-two-title-index{
    color: var(--primary-text-color);
}
.btn-filter{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--button-color);
}
.btn-filter:hover,
.btn-filter:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}
.link-menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.list .link-menu:hover,
.list .link-menu:focus {
    color: #404bbf;
}
.list .link:hover,
.list .link:focus {
    color: #404BBF;
}